@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b5zj83');
  src:  url('fonts/icomoon.eot?b5zj83#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b5zj83') format('truetype'),
    url('fonts/icomoon.woff?b5zj83') format('woff'),
    url('fonts/icomoon.svg?b5zj83#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-to-list:before {
  content: "\e98c";
}
.icon-classic-computer:before {
  content: "\e98d";
}
.icon-controller-fast-backward:before {
  content: "\e98e";
}
.icon-creative-commons-attribution:before {
  content: "\e98f";
}
.icon-creative-commons-noderivs:before {
  content: "\e990";
}
.icon-creative-commons-noncommercial-eu:before {
  content: "\e991";
}
.icon-creative-commons-noncommercial-us:before {
  content: "\e992";
}
.icon-creative-commons-public-domain:before {
  content: "\e993";
}
.icon-creative-commons-remix:before {
  content: "\e994";
}
.icon-creative-commons-share:before {
  content: "\e995";
}
.icon-creative-commons-sharealike:before {
  content: "\e996";
}
.icon-creative-commons:before {
  content: "\e997";
}
.icon-document-landscape:before {
  content: "\e998";
}
.icon-remove-user:before {
  content: "\e999";
}
.icon-warning:before {
  content: "\e99a";
}
.icon-arrow-bold-down:before {
  content: "\e99b";
}
.icon-arrow-bold-left:before {
  content: "\e99c";
}
.icon-arrow-bold-right:before {
  content: "\e99d";
}
.icon-arrow-bold-up:before {
  content: "\e99e";
}
.icon-arrow-down2:before {
  content: "\e99f";
}
.icon-arrow-left2:before {
  content: "\e9a0";
}
.icon-arrow-long-down:before {
  content: "\e9a1";
}
.icon-arrow-long-left:before {
  content: "\e9a2";
}
.icon-arrow-long-right:before {
  content: "\e9a3";
}
.icon-arrow-long-up:before {
  content: "\e9a4";
}
.icon-arrow-right2:before {
  content: "\e9a5";
}
.icon-arrow-up2:before {
  content: "\e9a6";
}
.icon-arrow-with-circle-down:before {
  content: "\e9a7";
}
.icon-arrow-with-circle-left:before {
  content: "\e9a8";
}
.icon-arrow-with-circle-right:before {
  content: "\e9a9";
}
.icon-arrow-with-circle-up:before {
  content: "\e9aa";
}
.icon-bookmark2:before {
  content: "\e9ab";
}
.icon-bookmarks:before {
  content: "\e9ac";
}
.icon-chevron-down:before {
  content: "\e9ad";
}
.icon-chevron-left:before {
  content: "\e9ae";
}
.icon-chevron-right:before {
  content: "\e9af";
}
.icon-chevron-small-down:before {
  content: "\e9b0";
}
.icon-chevron-small-left:before {
  content: "\e9b1";
}
.icon-chevron-small-right:before {
  content: "\e9b2";
}
.icon-chevron-small-up:before {
  content: "\e9b3";
}
.icon-chevron-thin-down:before {
  content: "\e9b4";
}
.icon-chevron-thin-left:before {
  content: "\e9b5";
}
.icon-chevron-thin-right:before {
  content: "\e9b6";
}
.icon-chevron-thin-up:before {
  content: "\e9b7";
}
.icon-chevron-up:before {
  content: "\e9b8";
}
.icon-chevron-with-circle-down:before {
  content: "\e9b9";
}
.icon-chevron-with-circle-left:before {
  content: "\e9ba";
}
.icon-chevron-with-circle-right:before {
  content: "\e9bb";
}
.icon-chevron-with-circle-up:before {
  content: "\e9bc";
}
.icon-cloud2:before {
  content: "\e9bd";
}
.icon-controller-fast-forward:before {
  content: "\e9be";
}
.icon-controller-jump-to-start:before {
  content: "\e9bf";
}
.icon-controller-next:before {
  content: "\e9c0";
}
.icon-controller-paus:before {
  content: "\e9c1";
}
.icon-controller-play:before {
  content: "\e9c2";
}
.icon-controller-record:before {
  content: "\e9c3";
}
.icon-controller-stop:before {
  content: "\e9c4";
}
.icon-controller-volume:before {
  content: "\e9c5";
}
.icon-dot-single:before {
  content: "\e9c6";
}
.icon-dots-three-horizontal:before {
  content: "\e9c7";
}
.icon-dots-three-vertical:before {
  content: "\e9c8";
}
.icon-dots-two-horizontal:before {
  content: "\e9c9";
}
.icon-dots-two-vertical:before {
  content: "\e9ca";
}
.icon-download2:before {
  content: "\e9cb";
}
.icon-emoji-flirt:before {
  content: "\e9cc";
}
.icon-flow-branch:before {
  content: "\e9cd";
}
.icon-flow-cascade:before {
  content: "\e9ce";
}
.icon-flow-line:before {
  content: "\e9cf";
}
.icon-flow-parallel:before {
  content: "\e9d0";
}
.icon-flow-tree:before {
  content: "\e9d1";
}
.icon-install:before {
  content: "\e9d2";
}
.icon-layers:before {
  content: "\e9d3";
}
.icon-open-book:before {
  content: "\e9d4";
}
.icon-resize-100:before {
  content: "\e9d5";
}
.icon-resize-full-screen:before {
  content: "\e9d6";
}
.icon-save:before {
  content: "\e9d7";
}
.icon-select-arrows:before {
  content: "\e9d8";
}
.icon-sound-mute:before {
  content: "\e9d9";
}
.icon-sound:before {
  content: "\e9da";
}
.icon-trash:before {
  content: "\e9db";
}
.icon-triangle-down:before {
  content: "\e9dc";
}
.icon-triangle-left:before {
  content: "\e9dd";
}
.icon-triangle-right:before {
  content: "\e9de";
}
.icon-triangle-up:before {
  content: "\e9df";
}
.icon-uninstall:before {
  content: "\e9e0";
}
.icon-upload-to-cloud:before {
  content: "\e9e1";
}
.icon-upload:before {
  content: "\e9e2";
}
.icon-add-user:before {
  content: "\e9e3";
}
.icon-address:before {
  content: "\e9e4";
}
.icon-adjust:before {
  content: "\e9e5";
}
.icon-air:before {
  content: "\e9e6";
}
.icon-aircraft-landing:before {
  content: "\e9e7";
}
.icon-aircraft-take-off:before {
  content: "\e9e8";
}
.icon-aircraft:before {
  content: "\e9e9";
}
.icon-align-bottom:before {
  content: "\e9ea";
}
.icon-align-horizontal-middle:before {
  content: "\e9eb";
}
.icon-align-left2:before {
  content: "\e9ec";
}
.icon-align-right2:before {
  content: "\e9ed";
}
.icon-align-top:before {
  content: "\e9ee";
}
.icon-align-vertical-middle:before {
  content: "\e9ef";
}
.icon-archive2:before {
  content: "\e9f0";
}
.icon-area-graph:before {
  content: "\e9f1";
}
.icon-attachment:before {
  content: "\e9f2";
}
.icon-awareness-ribbon:before {
  content: "\e9f3";
}
.icon-back-in-time:before {
  content: "\e9f4";
}
.icon-back:before {
  content: "\e9f5";
}
.icon-bar-graph:before {
  content: "\e9f6";
}
.icon-battery:before {
  content: "\e9f7";
}
.icon-beamed-note:before {
  content: "\e9f8";
}
.icon-bell:before {
  content: "\e9f9";
}
.icon-blackboard:before {
  content: "\e9fa";
}
.icon-block:before {
  content: "\e9fb";
}
.icon-book3:before {
  content: "\e9fc";
}
.icon-bowl:before {
  content: "\e9fd";
}
.icon-box2:before {
  content: "\e9fe";
}
.icon-briefcase:before {
  content: "\e9ff";
}
.icon-browser2:before {
  content: "\ea00";
}
.icon-brush:before {
  content: "\ea01";
}
.icon-bucket2:before {
  content: "\ea02";
}
.icon-cake:before {
  content: "\ea03";
}
.icon-calculator2:before {
  content: "\ea04";
}
.icon-calendar2:before {
  content: "\ea05";
}
.icon-camera2:before {
  content: "\ea06";
}
.icon-ccw:before {
  content: "\ea07";
}
.icon-chat2:before {
  content: "\ea08";
}
.icon-check:before {
  content: "\ea09";
}
.icon-circle-with-cross:before {
  content: "\ea0a";
}
.icon-circle-with-minus:before {
  content: "\ea0b";
}
.icon-circle-with-plus:before {
  content: "\ea0c";
}
.icon-circle:before {
  content: "\ea0d";
}
.icon-circular-graph:before {
  content: "\ea0e";
}
.icon-clapperboard:before {
  content: "\ea0f";
}
.icon-clipboard2:before {
  content: "\ea10";
}
.icon-clock2:before {
  content: "\ea11";
}
.icon-code:before {
  content: "\ea12";
}
.icon-cog:before {
  content: "\ea13";
}
.icon-colours:before {
  content: "\ea14";
}
.icon-compass:before {
  content: "\ea15";
}
.icon-copy:before {
  content: "\ea16";
}
.icon-credit-card:before {
  content: "\ea17";
}
.icon-credit:before {
  content: "\ea18";
}
.icon-cross:before {
  content: "\ea19";
}
.icon-cup:before {
  content: "\ea1a";
}
.icon-cw:before {
  content: "\ea1b";
}
.icon-cycle:before {
  content: "\ea1c";
}
.icon-database:before {
  content: "\ea1d";
}
.icon-dial-pad:before {
  content: "\ea1e";
}
.icon-direction:before {
  content: "\ea1f";
}
.icon-document:before {
  content: "\ea20";
}
.icon-documents:before {
  content: "\ea21";
}
.icon-drink2:before {
  content: "\ea22";
}
.icon-drive:before {
  content: "\ea23";
}
.icon-drop:before {
  content: "\ea24";
}
.icon-edit:before {
  content: "\ea25";
}
.icon-email3:before {
  content: "\ea26";
}
.icon-emoji-happy:before {
  content: "\ea27";
}
.icon-emoji-neutral:before {
  content: "\ea28";
}
.icon-emoji-sad:before {
  content: "\ea29";
}
.icon-erase:before {
  content: "\ea2a";
}
.icon-eraser:before {
  content: "\ea2b";
}
.icon-export:before {
  content: "\ea2c";
}
.icon-eye:before {
  content: "\ea2d";
}
.icon-feather:before {
  content: "\ea2e";
}
.icon-flag2:before {
  content: "\ea2f";
}
.icon-flash:before {
  content: "\ea30";
}
.icon-flashlight:before {
  content: "\ea31";
}
.icon-flat-brush:before {
  content: "\ea32";
}
.icon-folder-images:before {
  content: "\ea33";
}
.icon-folder-music:before {
  content: "\ea34";
}
.icon-folder-video:before {
  content: "\ea35";
}
.icon-folder2:before {
  content: "\ea36";
}
.icon-forward:before {
  content: "\ea37";
}
.icon-funnel:before {
  content: "\ea38";
}
.icon-game-controller:before {
  content: "\ea39";
}
.icon-gauge:before {
  content: "\ea3a";
}
.icon-globe:before {
  content: "\ea3b";
}
.icon-graduation-cap:before {
  content: "\ea3c";
}
.icon-grid2:before {
  content: "\ea3d";
}
.icon-hair-cross:before {
  content: "\ea3e";
}
.icon-hand:before {
  content: "\ea3f";
}
.icon-heart-outlined:before {
  content: "\ea40";
}
.icon-heart2:before {
  content: "\ea41";
}
.icon-help-with-circle:before {
  content: "\ea42";
}
.icon-help:before {
  content: "\ea43";
}
.icon-home2:before {
  content: "\ea44";
}
.icon-hour-glass:before {
  content: "\ea45";
}
.icon-image-inverted:before {
  content: "\ea46";
}
.icon-image2:before {
  content: "\ea47";
}
.icon-images:before {
  content: "\ea48";
}
.icon-inbox:before {
  content: "\ea49";
}
.icon-infinity:before {
  content: "\ea4a";
}
.icon-info-with-circle:before {
  content: "\ea4b";
}
.icon-info:before {
  content: "\ea4c";
}
.icon-key:before {
  content: "\ea4d";
}
.icon-keyboard:before {
  content: "\ea4e";
}
.icon-lab-flask:before {
  content: "\ea4f";
}
.icon-landline:before {
  content: "\ea50";
}
.icon-language:before {
  content: "\ea51";
}
.icon-laptop2:before {
  content: "\ea52";
}
.icon-leaf:before {
  content: "\ea53";
}
.icon-level-down:before {
  content: "\ea54";
}
.icon-level-up:before {
  content: "\ea55";
}
.icon-lifebuoy:before {
  content: "\ea56";
}
.icon-light-bulb:before {
  content: "\ea57";
}
.icon-light-down:before {
  content: "\ea58";
}
.icon-light-up:before {
  content: "\ea59";
}
.icon-line-graph:before {
  content: "\ea5a";
}
.icon-link:before {
  content: "\ea5b";
}
.icon-list2:before {
  content: "\ea5c";
}
.icon-location-pin:before {
  content: "\ea5d";
}
.icon-location:before {
  content: "\ea5e";
}
.icon-lock-open:before {
  content: "\ea5f";
}
.icon-lock2:before {
  content: "\ea60";
}
.icon-log-out:before {
  content: "\ea61";
}
.icon-login:before {
  content: "\ea62";
}
.icon-loop:before {
  content: "\ea63";
}
.icon-magnet:before {
  content: "\ea64";
}
.icon-magnifying-glass:before {
  content: "\ea65";
}
.icon-mail:before {
  content: "\ea66";
}
.icon-man:before {
  content: "\ea67";
}
.icon-map2:before {
  content: "\ea68";
}
.icon-mask:before {
  content: "\ea69";
}
.icon-medal:before {
  content: "\ea6a";
}
.icon-megaphone:before {
  content: "\ea6b";
}
.icon-menu:before {
  content: "\ea6c";
}
.icon-message:before {
  content: "\ea6d";
}
.icon-mic:before {
  content: "\ea6e";
}
.icon-minus:before {
  content: "\ea6f";
}
.icon-mobile:before {
  content: "\ea70";
}
.icon-modern-mic:before {
  content: "\ea71";
}
.icon-moon:before {
  content: "\ea72";
}
.icon-mouse:before {
  content: "\ea73";
}
.icon-music:before {
  content: "\ea74";
}
.icon-network:before {
  content: "\ea75";
}
.icon-new-message:before {
  content: "\ea76";
}
.icon-new:before {
  content: "\ea77";
}
.icon-news:before {
  content: "\ea78";
}
.icon-note:before {
  content: "\ea79";
}
.icon-notification:before {
  content: "\ea7a";
}
.icon-old-mobile:before {
  content: "\ea7b";
}
.icon-old-phone:before {
  content: "\ea7c";
}
.icon-palette:before {
  content: "\ea7d";
}
.icon-paper-plane:before {
  content: "\ea7e";
}
.icon-pencil2:before {
  content: "\ea7f";
}
.icon-phone2:before {
  content: "\ea80";
}
.icon-pie-chart:before {
  content: "\ea81";
}
.icon-pin:before {
  content: "\ea82";
}
.icon-plus:before {
  content: "\ea83";
}
.icon-popup:before {
  content: "\ea84";
}
.icon-power-plug:before {
  content: "\ea85";
}
.icon-price-ribbon:before {
  content: "\ea86";
}
.icon-price-tag:before {
  content: "\ea87";
}
.icon-print:before {
  content: "\ea88";
}
.icon-progress-empty:before {
  content: "\ea89";
}
.icon-progress-full:before {
  content: "\ea8a";
}
.icon-progress-one:before {
  content: "\ea8b";
}
.icon-progress-two:before {
  content: "\ea8c";
}
.icon-publish:before {
  content: "\ea8d";
}
.icon-quote:before {
  content: "\ea8e";
}
.icon-radio:before {
  content: "\ea8f";
}
.icon-reply-all:before {
  content: "\ea90";
}
.icon-reply:before {
  content: "\ea91";
}
.icon-retweet:before {
  content: "\ea92";
}
.icon-rocket:before {
  content: "\ea93";
}
.icon-round-brush:before {
  content: "\ea94";
}
.icon-rss:before {
  content: "\ea95";
}
.icon-ruler:before {
  content: "\ea96";
}
.icon-scissors:before {
  content: "\ea97";
}
.icon-share-alternitive:before {
  content: "\ea98";
}
.icon-share2:before {
  content: "\ea99";
}
.icon-shareable:before {
  content: "\ea9a";
}
.icon-shield:before {
  content: "\ea9b";
}
.icon-shop:before {
  content: "\ea9c";
}
.icon-shopping-bag:before {
  content: "\ea9d";
}
.icon-shopping-basket:before {
  content: "\ea9e";
}
.icon-shopping-cart:before {
  content: "\ea9f";
}
.icon-shuffle:before {
  content: "\eaa0";
}
.icon-signal:before {
  content: "\eaa1";
}
.icon-sound-mix:before {
  content: "\eaa2";
}
.icon-sports-club:before {
  content: "\eaa3";
}
.icon-spreadsheet:before {
  content: "\eaa4";
}
.icon-squared-cross:before {
  content: "\eaa5";
}
.icon-squared-minus:before {
  content: "\eaa6";
}
.icon-squared-plus:before {
  content: "\eaa7";
}
.icon-star-outlined:before {
  content: "\eaa8";
}
.icon-star2:before {
  content: "\eaa9";
}
.icon-stopwatch2:before {
  content: "\eaaa";
}
.icon-suitcase:before {
  content: "\eaab";
}
.icon-swap:before {
  content: "\eaac";
}
.icon-sweden:before {
  content: "\eaad";
}
.icon-switch2:before {
  content: "\eaae";
}
.icon-tablet2:before {
  content: "\eaaf";
}
.icon-tag2:before {
  content: "\eab0";
}
.icon-text-document-inverted:before {
  content: "\eab1";
}
.icon-text-document:before {
  content: "\eab2";
}
.icon-text:before {
  content: "\eab3";
}
.icon-thermometer:before {
  content: "\eab4";
}
.icon-thumbs-down:before {
  content: "\eab5";
}
.icon-thumbs-up:before {
  content: "\eab6";
}
.icon-thunder-cloud:before {
  content: "\eab7";
}
.icon-ticket:before {
  content: "\eab8";
}
.icon-time-slot:before {
  content: "\eab9";
}
.icon-tools:before {
  content: "\eaba";
}
.icon-traffic-cone:before {
  content: "\eabb";
}
.icon-tree:before {
  content: "\eabc";
}
.icon-trophy:before {
  content: "\eabd";
}
.icon-tv:before {
  content: "\eabe";
}
.icon-typing:before {
  content: "\eabf";
}
.icon-unread:before {
  content: "\eac0";
}
.icon-untag:before {
  content: "\eac1";
}
.icon-user3:before {
  content: "\eac2";
}
.icon-users3:before {
  content: "\eac3";
}
.icon-v-card:before {
  content: "\eac4";
}
.icon-video:before {
  content: "\eac5";
}
.icon-vinyl:before {
  content: "\eac6";
}
.icon-voicemail:before {
  content: "\eac7";
}
.icon-wallet:before {
  content: "\eac8";
}
.icon-water:before {
  content: "\eac9";
}
.icon-500px-with-circle:before {
  content: "\eaca";
}
.icon-500px:before {
  content: "\eacb";
}
.icon-basecamp:before {
  content: "\eacc";
}
.icon-behance:before {
  content: "\eacd";
}
.icon-creative-cloud:before {
  content: "\eace";
}
.icon-dropbox:before {
  content: "\eacf";
}
.icon-evernote:before {
  content: "\ead0";
}
.icon-flattr:before {
  content: "\ead1";
}
.icon-foursquare:before {
  content: "\ead2";
}
.icon-google-drive:before {
  content: "\ead3";
}
.icon-google-hangouts:before {
  content: "\ead4";
}
.icon-grooveshark:before {
  content: "\ead5";
}
.icon-icloud:before {
  content: "\ead6";
}
.icon-mixi:before {
  content: "\ead7";
}
.icon-onedrive:before {
  content: "\ead8";
}
.icon-paypal:before {
  content: "\ead9";
}
.icon-picasa:before {
  content: "\eada";
}
.icon-qq:before {
  content: "\eadb";
}
.icon-rdio-with-circle:before {
  content: "\eadc";
}
.icon-renren:before {
  content: "\eadd";
}
.icon-scribd:before {
  content: "\eade";
}
.icon-sina-weibo:before {
  content: "\eadf";
}
.icon-skype-with-circle:before {
  content: "\eae0";
}
.icon-skype:before {
  content: "\eae1";
}
.icon-slideshare:before {
  content: "\eae2";
}
.icon-smashing:before {
  content: "\eae3";
}
.icon-soundcloud:before {
  content: "\eae4";
}
.icon-spotify-with-circle:before {
  content: "\eae5";
}
.icon-spotify:before {
  content: "\eae6";
}
.icon-swarm:before {
  content: "\eae7";
}
.icon-vine-with-circle:before {
  content: "\eae8";
}
.icon-vine:before {
  content: "\eae9";
}
.icon-vk-alternitive:before {
  content: "\eaea";
}
.icon-vk-with-circle:before {
  content: "\eaeb";
}
.icon-vk:before {
  content: "\eaec";
}
.icon-xing-with-circle:before {
  content: "\eaed";
}
.icon-xing:before {
  content: "\eaee";
}
.icon-yelp:before {
  content: "\eaef";
}
.icon-dribbble-with-circle:before {
  content: "\eaf0";
}
.icon-dribbble:before {
  content: "\eaf1";
}
.icon-facebook-with-circle:before {
  content: "\eaf2";
}
.icon-facebook:before {
  content: "\eaf3";
}
.icon-flickr-with-circle:before {
  content: "\eaf4";
}
.icon-flickr:before {
  content: "\eaf5";
}
.icon-github-with-circle:before {
  content: "\eaf6";
}
.icon-github:before {
  content: "\eaf7";
}
.icon-google-with-circle:before {
  content: "\eaf8";
}
.icon-google:before {
  content: "\eaf9";
}
.icon-instagram-with-circle:before {
  content: "\eafa";
}
.icon-instagram:before {
  content: "\eafb";
}
.icon-lastfm-with-circle:before {
  content: "\eafc";
}
.icon-lastfm:before {
  content: "\eafd";
}
.icon-linkedin-with-circle:before {
  content: "\eafe";
}
.icon-linkedin:before {
  content: "\eaff";
}
.icon-pinterest-with-circle:before {
  content: "\eb00";
}
.icon-pinterest:before {
  content: "\eb01";
}
.icon-rdio:before {
  content: "\eb02";
}
.icon-stumbleupon-with-circle:before {
  content: "\eb03";
}
.icon-stumbleupon:before {
  content: "\eb04";
}
.icon-tumblr-with-circle:before {
  content: "\eb05";
}
.icon-tumblr:before {
  content: "\eb06";
}
.icon-twitter-with-circle:before {
  content: "\eb07";
}
.icon-twitter:before {
  content: "\eb08";
}
.icon-vimeo-with-circle:before {
  content: "\eb09";
}
.icon-vimeo:before {
  content: "\eb0a";
}
.icon-youtube-with-circle:before {
  content: "\eb0b";
}
.icon-youtube:before {
  content: "\eb0c";
}

